

<div class="wrapper">
  <div class="fontblue"><h1>Todo Items</h1></div>    
    <p id="notice"><%= flash[:topnotice] %></p>  
    <br>
    <div class="table">    
      
      <div class="row header blue">
        <div class="cell" style="width:30%">Todo Item</div>
        <div class="cell" style="width:5%">Completed</div>      
        <div class="cell" style="width:5%">Recurring</div>      
        <div class="cell" style="width:15%">Date Completed</div>
        <div class="cell" style="width:10%">Tags</div>
        <div class="cell" style="width:10%">Mark Complete</div>
        <div class="cell" style="width:20%">Move</div>
        <div class="cell" style="width:5%">Edit</div>
        <div class="cell" style="width:10%">Delete</div>
      </div>
      <% @todoitems.each do |item|%>

      <div class="row">
          
          <%if item.completed? %>
            <div class="cell completed" style="width:30%"><%=item.name%></div>
          <%else%>
            <div class="cell" style="width:30%"><%=item.name%></div>
          <%end%>

          <div class="cell" style="width:5%"><%= item.completed ? "Yes" : "No" %></div>          
          <div class="cell" style="width:5%"><%= item.isrecurring ? "Yes" : "No" %></div>          
          <div class="cell" style="width:15%"><%=item.datecompleted%></div>
          <div class="cell" style="width:15%"><%= item.GetTags() %></div>
       
          <%unless item.completed? %>
            <div class="cell" style="width:10%"><%=link_to "Complete", complete_todo_list_todo_item_path(@todo_list,item), method: :complete %></div>
          <%else%>
            <div class="cell" style="width:10%"><%=link_to "Incomplete", incomplete_todo_list_todo_item_path(@todo_list,item), method: :complete %></div>
          <%end%>
          
          <div class="cell" style="width:20%">
          
            <%= form_tag move_todo_list_todo_item_path(@todo_list, item), :method => :post do %>

              <%=select_tag "newtodo",options_from_collection_for_select(TodoList.includes(:todo_items).all.where("id <> " + @todo_list.id.to_s),"id","title",@todo_list.id),{onchange: "this.form.submit();", include_blank: "Select"}%>
            
            <%end%>
            
          </div>
          <div class="cell" style="width:10%"><%=link_to "Edit", edit_todo_list_todo_item_path(@todo_list, item)%></div>
          <div class="cell" style="width:10%"><%=link_to "Delete", todo_list_todo_item_path(@todo_list, item), method: :delete, data: {confirm: "are you sure?"}%></div>
      </div>

      <%end%>   
          
    </div>
    
    <%= render 'todo_items/form', todoitem: @todoitem%>
    <%= button_to "Search To Dos Items", search_index_path, class: 'button', method: :get %>
    
</div>  

</div>
